extends layout
block content
    div(class="container-fluid")
        h1= title
        - let items = results;
        div(class="container-fluid")
         div(class="row m-1")
          each item in items
           - let destination = `dispatch(\"/rabbit/update?id=${item._id}\")`
           div(class="row-sm-2", class="m-1") Item #{item.rabbit_color}(#{item.rabbit_breed}) is #{item.rabbit_price}
            button.btn( class="btn-primary ml-1", onclick= destination) Update
        div(class="row")
            each form,item in results
                div(class = "col-sm-2 bg-primary" onclick=`buy(${item})`) #{form.rabbit_color}              
                div(class = "col-sm-2 bg-primary" onclick=`buy(${item})`) #{form.rabbit_breed}                
                div(class = "col-sm-2 bg-primary" onclick=`buy(${item})`) #{form.rabbit_price}
                hr
    script.
        function buy(itemNo)
        {
            alert(`You purchased Item ${itemNo+1}`)
        }
    script.
       function dispatch(path)
       {
         window.location.href=path
       }

